/*************************
HOMEPAGE SPECIFIC STYLES
*************************/

// TEMPORARY UNTIL BRAND PAGE IS READY TO BE REDIRECTED TO

body.home {
  height: 100vh;
  overflow: hidden;
}

.home {
  .header {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%, 0);
  }

  .logo {
    img {
      width: 500px;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    padding: 3em;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }
}


// END OF TEMPORARY STYLES == UNTIL BRAND PAGE IS READY TO BE REDIRECTED TO
