.resources-overview {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}

.resources-wrapper {
	max-width: 1540px;
	margin: -5.5em 1em 1em;
	position: relative;
	background: white;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	z-index: 9999;
	padding: 2rem 2rem 5rem;
}

.resource-archive-list {
	background: white;
	max-width: 60em;
	margin: -5.5em auto 0;
	z-index: 9999;
	padding: 2rem;
}
