.scholarships-partnerships {
	&__list {
		display: flex;
		justify-content: space-between;
		justify-content: center;
		flex-flow: row wrap;
		list-style-type: none;
		padding: 0;
		margin: 0 !important;
		max-width: 100%;
	}

	&__heading {
		margin: 0 0 0.5em 0 !important;
		padding: 0 !important;
	}

	&__item {
		background: #f5f1e5;
		padding: 2em;
		margin: 1em;
		flex: 45%;
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-size: 100%;
		line-height: 1.5;
		color: #4a4a4a;
		display: flex;
		flex-flow: row wrap;
		align-content: space-between;
		padding: 1.5em;

		.bold {
			font-weight: 700;
		}
	}

	&__btn {
		width: 350px !important;
		max-width: 100% !important;
		margin-top: 2em !important;
		
		@media (max-width: 500px) {
			width: 100% !important;
			min-width: 200px;
			margin: 0 !important;
		}
	}
}
// .scholarships-partnerships__heading {
// 	font-weight: 900 !important;
// }
