.search {
  .intro {
		max-width: 800px;
		margin: -5.5em 1em 1em;
		position: relative;
		background: white;
		margin-left: auto;
		margin-right: auto;
		// text-align: center;
		text-align: left;
		z-index: 9999;
		padding-bottom: 5em;

		img,
		table,
		video {
			@include susy-breakpoint($bp-med) {
				width: 120%;
				margin-left: -10%;
				margin-top: 2em;
				margin-bottom: 2em;
			}
		}

		ul {
			margin-left: 1em;
		}

		p {
			padding: 0 1.25em;
			text-align: left;
			margin-top: 1em;
			margin-bottom: 1em;
			// &:first-of-type {
			// 	font-size: 2em;
			//   font-weight: 300;
			//   padding: 0 1em !important;
			// }
		}

		&__breadcrumbs {
			background-color: #A81D32;
			color: white;
			padding: 1em 0.5em;
			text-align: center;
			font-size: 0.8em;
			font-weight: 600;
		}

		&__subNav {
			background-color: #A81D32;
			font-size: 0.8em;
			// white-space: nowrap;
			// overflow-x: auto;
		}

		.btn {
			transition: text-shadow 0.3s;
			display: block;
	    margin-left: auto;
	    width: 450px;
	    margin-right: auto;
	    margin-bottom: 2em;
	    max-width: 100%;
			text-align: center;
			&:focus,
			&:hover {
				text-decoration: underline;
				// font-weight: 600;
				// text-shadow: 0 0 0.65px #11181F, 0 0 0.65px #11181F;
			}
		}

		.subpagesNav {
			list-style-type: none;
			display: flex;
			justify-content: center;
			padding-left: 0;
			margin: 0.5em;
			margin-top: 0;
			text-decoration: none;

			& li {
				margin: 0 1em;
				border-top: 5px solid transparent;

				&.current_page_item {
					border-top: 5px solid white;
				}

				a {
					color: white;
					padding: 0.5em;
					text-decoration: none;
					display: inline-block;
					padding: 1em;

					&:focus,
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&__breadcrumbs {
			background-color: #A81D32;
			color: white;
			padding: 1em 0.5em;
			text-align: center;
			font-size: 0.8em;
			font-weight: 600;
			// TEMPORARY FIX
			a {
				color: white;
			}
		}

		&__headline {
			padding: 0 1em;
			text-align: left;
			font-size: 2em;
			font-weight: 300;
			padding: 0 .5em !important;

			@include susy-breakpoint(768px) {
			    padding: 0 1em !important;
			}
		}

		&__text {
			padding: 0.5em 2em;
		}
	}

}
