/*********************
GENERAL STYLES
*********************/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: white;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Display fonts when ready
.fonts-loaded body {
    font-family: $sans-serif;
}

// Styled box with a border
.border {
    border: 2px solid $link-color;
    padding: .5em 1em;
}

.content {
	margin: 1.5em 0;
}


