/******************************************************************
SUSY GRID // For any questions go to http://susydocs.oddbird.net/en/latest/
******************************************************************/

@import "../../bower_components/susy/sass/_susy.scss";

$susy: (
  columns: 12, 
  gutters: 1/2,
  math: fluid, 
  output: float,
  gutter-position: inside,
);

.wrap { @include container(1440px); }
.half { @include span(6); }
.quarter { @include span(3); }
.third { @include span(4); }

