/// HIDE AN ELEMENT
/// Extend this to hide an element
/// @example
///     @extend %visuallyhidden;

%visuallyhidden {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

%tc {
	text-align: center;
}

%smallWidthContainer {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
/// Pixels to Ems Function
/// @example
///     font-size: em(24);
@function em($pixels, $context: $browser-context) {
	 @return #{$pixels/$context}em;
}
/// Responsive Mixin
/// @example
///     @include mobilefirst($bp-small) { content here }
@mixin mobilefirst($res) {
	 @media screen and (min-width: $res){
		@content;
	}
}
@mixin decorative($color) {
	position: relative;
	padding-top: 1em;
	margin-top: 0;
	@content;

	&:before {
		content: "";
		width: 3em;
		height: 7px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: $color;
	}
}
// .decorative {
// 	position: relative;
// 	padding-top: 1em;
// 	margin-top: 0;
//
// 	&:before {
// 		content: "";
// 		width: 3em;
// 		height: 7px;
// 		display: block;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		background: $red;
// 	}
//
// 	&_gold:before { background: $gold; }
// 	&_white:before { background: white; }
// 	&_red_dark:before { background: $red_dark; }
// }

%flexCards {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

%flexCard {
	background: $red;
	margin: 0.5em;
	// padding: 0.5em 1em;
	padding: 0 2em 1.25em;
	color: white;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	// padding-bottom: 1.25em;
	margin: 1em 1.75em;
	padding-top: 0;
	flex-basis: 100%;
	max-width: 350px;
	@include susy-breakpoint($bp-med) {
		display: flex;
		flex: 1 1 30%;
		margin: 1em;
	}
}

%flexCardLink {
	padding: 0.25em 1em;
	align-self: flex-end;
	font-size: 0.8em;
	font-weight: 600;
	width: 100%;
	color: $gray_dark !important;
}
// .card {
//   background: $red;
//   margin: 0.5em;
//   padding: 0.5em 1em;
//   color: white;
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
//   padding: 1em 2em;
//   flex-basis: 100%;
//   @include susy-breakpoint($bp-med) {
//     flex: 1 1 30%;
//     margin: 1em;
//   }
//
//   &__heading {
//     color: white;
//   }
//
//   &__text {
//     @include decorative($gold);
//
//     &:before {
//       position: relative;
//       text-align: center;
//       margin-left: auto;
//       margin-right: auto;
//       width: 7em;
//       height: 5px;
//       top: -1.5em;
//     }
//   }
//
//   &__link {
//     padding: 0.25em 1em;
//     align-self: flex-end;
//   }
// }
