/******************************************************************
Typography Styles
******************************************************************/

@font-face {
	font-family: 'Trade Gothic LT Std';
	src: url('../../../fonts/TradeGothicLTStd-Bd2.eot');
	src: url('../../../fonts/TradeGothicLTStd-Bd2.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/TradeGothicLTStd-Bd2.woff') format('woff'),
		url('../../../fonts/TradeGothicLTStd-Bd2.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/// Sans Serif
/// @group Fonts
$sans-serif:        'Open Sans', Helvetica, Arial, sans-serif;
/// Condensed
/// @group Fonts
$condensed:					'Trade Gothic LT Std', Arial, sans-serif;


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: bold;
	text-transform: uppercase;
	font-family: $condensed;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
  font-size: em(36);
  line-height: 1.25;

    @include mobilefirst($bp-med) {
        font-size: em(40);
        line-height: 1.125;
    }

    @include mobilefirst($bp-lg) {
        font-size: em(48);
        line-height: 1.05;
    }
}

h2, .h2 {
  font-size: em(31);
  line-height: 1.15384615;
  margin-bottom: .375em;

    @include mobilefirst($bp-med) {
        font-size: em(36);
        line-height: 1.25;
    }

    @include mobilefirst($bp-lg) {
        font-size: em(40);
        line-height: 1.25;
    }
}

h3, .h3 {
  font-size: em(26);
  line-height: 1.13636364;

    @include mobilefirst($bp-med) {
        font-size: em(28);
        line-height: 1.25;
    }

    @include mobilefirst($bp-lg) {
        font-size: em(30);
        line-height: 1.25;
    }
}

h4, .h4 {
  color: $link-color;
  font-size: em(20);
  line-height: 1.11111111;

    @include mobilefirst($bp-med) {
        line-height: 1.222222222;
    }
}

h5, .h5 {
	font-size: em(13.5);
	line-height: 1.25;
	text-transform: uppercase;
	letter-spacing: 2px;
    color: $link-color;
}

h6, .h6 {
    color: $link-color;
}


p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

blockquote {
  font-size: em(16);
  line-height: 1.25;
  /* 25px / 20px */
  border-left: 4px solid gray;
  padding-left: 1em;

    @include mobilefirst($bp-med) {
        font-size: em(24);
        line-height: 1.45833333;
    }
}

figure, figcaption {
    display: block;
    font-style: italic;
    font-size: .9em;
    color: gray;
    text-align: center;
}

.quote {
   padding: 1.5em;
   background: gray;
   position: relative;
   border-radius: .5em;

    &:before {
        position: absolute;
        top: 99.8%;
        right: 2em;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 30px 0;
        border-color: transparent gray transparent transparent;
    }
}


/******************************************************************
TEXT STYLE CLASSES
******************************************************************/

.text {
	&_red { color: $red; }
	&_white { color: white; }
	&_uppercase { text-transform: uppercase; }
}

.decorative {
	position: relative;
	padding-top: 1em;

	&:before {
		content: "";
		width: 3em;
		height: .25em;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: $red;
	}

	&_gold:before { background: $gold; }
	&_white:before { background: white; }
	&_red_dark:before { background: $red_dark; }

}

