/******************************************************************
Typography Styles
******************************************************************/

// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

/// Sans Serif
/// @group Fonts
$sans-serif:        'Open Sans', Helvetica, Arial, sans-serif;
/// Serif
/// @group Fonts
$serif:             'Georgia', Cambria, Times New Roman, Times, serif;


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
  font-size: em(32); 
  line-height: 1.25;

    @include mobilefirst($bp-med) {
        font-size: em(40);
        line-height: 1.125;
    }

    @include mobilefirst($bp-lg) {
        font-size: em(48);
        line-height: 1.05;
    }
}

h2, .h2 {
  font-size: em(26);
  line-height: 1.15384615;
  margin-bottom: .375em;

    @include mobilefirst($bp-med) {
        font-size: em(32);
        line-height: 1.25;
    }

    @include mobilefirst($bp-lg) {
        font-size: em(36);
        line-height: 1.25;
    }
}

h3, .h3 {
  font-size: em(22);
  line-height: 1.13636364;

    @include mobilefirst($bp-med) {
        font-size: em(24);
        line-height: 1.25;
    }

    @include mobilefirst($bp-lg) {
        font-size: em(28);
        line-height: 1.25;
    }
}

h4, .h4 {
  color: $link-color;
  font-size: em(18);
  line-height: 1.11111111;

    @include mobilefirst($bp-med) {
        line-height: 1.222222222;
    }
}

h5, .h5 {
	font-size: em(13.5);
	line-height: 1.25;
	text-transform: uppercase;
	letter-spacing: 2px;
    color: $link-color;
}

h6, .h6 {
    color: $link-color;
}


blockquote {
  font-size: em(16);
  line-height: 1.25;
  /* 25px / 20px */
  border-left: 4px solid gray;
  padding-left: 1em;

    @include mobilefirst($bp-med) {
        font-size: em(24);
        line-height: 1.45833333;
    }
}

figure, figcaption {
    display: block;
    font-style: italic;
    font-size: .9em;
    color: gray;
    text-align: center;
}

.quote {
   padding: 1.5em;
   background: gray;
   position: relative;
   border-radius: .5em;
    
    &:before {
        position: absolute;
        top: 99.8%;
        right: 2em;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 30px 0;
        border-color: transparent gray transparent transparent;
    }
}
