.formWrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	// background: $red;
	padding: 1em 0;
	@include susy-breakpoint(768px) {
		// width: 80%;
	}

	.formHeader {
		padding: 0 5%;
		margin-bottom: 0;
		color: white;
	}

	.requestinfo {
		// background: $red;

	}

	input,
	select {
		background-color: #eaeaea;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	.halfField {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;

		li {
			width: 100%;
			@include susy-breakpoint(768px) {
				width: 48%;
			}
		}
	}
}

.form {
	&Wrapper {
		padding: 2em 1em;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0;
		background: #A81D35;
		// max-width: 550px;
		color: white;
		padding: 2em 1em;
		max-width: 650px;
    margin-top: 3em;
		label {
			color: white;
			// color: black;
		}

		li {
			margin-top: 0 !important;
		}
	}

	&__header {
		margin: 0;
		color: white;
		padding: 1em 1.5em 0;
		background: $red;
		padding: .5em .75em 0 !important;
	}
}



// .form {
// 	&__toggle {
// 		// top: 150px;
// 		// right: 10px;
// 		// width: 40px;
// 		// height: 40px;
//
// 		top: -15px;
// 		right: -15px;
// 		width: 50px;
// 		height: 50px;
// 		border: none;
// 		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//
// 		& svg {
// 			width: 25px;
// 			height: 25px;
// 		}
// 	}
//
// 	&__wrapper {
// 		padding: 0;
// 		display: block;
// 		padding: 2em 0;
// 		height: 100%;
// 		&.active {
// 			overflow-y: auto;
// 		}
// 	}
//
// 	&__innerwrapper {
// 		max-width: 550px;
// 		margin-left: auto;
// 		margin-right: auto;
// 		height: auto;
// 		top: 50%;
// 		transform: translateY(-50%);
// 	}
// }
//
// VERSION 2
.form {
	&__toggle {
		background-color: white;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
		background-image: url("#{$images}/close-form-button.svg");
		display: flex;
		justify-content: center;
		align-items: center;
		top: 15px;
		right: -10px;
		width: 40px;
		height: 40px;
		border: none;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

		& svg {
			width: 25px;
			height: 25px;
		}
	}

	&__wrapper {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		overflow: auto;
		opacity: 1;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
		align-items: center;
		padding: 0;
		max-width: 100%;

		&.active {
			// overflow-y: auto;
		}
	}

	&__innerwrapper {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		padding: 2em 0;
		margin: 1.5em auto;
		width: 90%;

		p {
			background: #a81d35;
			padding: 1.25em 1.25em 0;
			margin: auto;
			color: #fff;
		}

		.form-button {
			background-color: #c9bf79;
			border-bottom: 6px solid #9d913f;
		}
	}

	&__heading {
		padding: 2em 1.25em 0 0.5em;
	}
}
.form-buttons-wrapper {
	a, a:visited {
    	color: #ffffff;
	}

	.form-button, .form-submit-button {
		background-color: #c9bf79;
		border-bottom: 6px solid #9d913f;
		color:#000;
		&:hover {
			background-color: #afa247;
		}
	}
}

html.activeModal {
	overflow: hidden;
}

.fullMobile {
	@media (max-width: 499px) {
		float: none;
		width: 100%;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

#tlh-form .form-item label a {
    pointer-events: auto;
    color: #000;
}

#step-form {
	form {
		.form-item-militaryAffiliated {
      		label {
      			margin-top: 5px;
      		}
    	}
  	}
}
