.infoTabs {
	@include susy-breakpoint($bp-med) {
		display: flex;
	}

	ul {
		padding-left: 30px;
	}

	&__buttons {
		position: relative;
		z-index: 1;
		margin-top: 3em;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		@include susy-breakpoint($bp-med) {
			flex-basis: 28%;
			display: block;
		}

		button {
			background: rgba(200,191,121,0.2);
			color: $red;
			border: none;
			padding: 1em 0.75em;
			// padding: 1em .5em;
			width: 400px;
			display: block;
			margin: 0.5em;
			text-transform: uppercase;
			width: 45%;
			font-size: 0.7em;
			@include susy-breakpoint($bp-med) {
				width: 100%;
				// font-size: 1em;
				padding: 1em 0.5em;
				font-size: 0.8em;
			}

			&.active {
				background: $red;
				color: white;
				font-weight: 700;
			}
		}
	}

	&__contentWrapper {
		background: #f5f1e5;
		position: relative;
		background: $tan;
		position: relative;
		padding: 1em 1.5em 4em;
		@include susy-breakpoint($bp-med) {
			flex-basis: 66%;
			margin: 0 1em;

			&:before {
				content: '';
				position: absolute;
				left: -120px;
				width: 120px;
				height: 100%;
				top: 0;
				background: $tan;
			}
		}
	}

	.infoTabs__content {
		display: none;

		&.active {
			display: block;
			// background: blue;
		}
	}
	.btn-info {
		-webkit-appearance: inherit;
		width: 45%;
		text-align: center;
		margin:0.4em;
		@include susy-breakpoint($bp-med) {
			width: 100%;
			margin-top:0;
		}
	}
}
