.infoTabs {
	.accordion {
		.accord {
			margin: 1.25em 0;
			background: rgba(81, 9, 21, 0.07);
		}

		.accord-content {
			display: none;
			padding: 0 1em 1em;

			h4 {
				margin-top: 3.5em;
				font-weight: 600;
				text-transform: initial;

				&:first-of-type {
					margin-top: 1em;
				}
			}
		}

		.accord-header {
			margin: 0;
		}

		button {
			background: #510915;
			color: #fff;
			border: none;
			padding: 0.5em 1em;
			width: 100%;
			max-width: 100%;
			text-align: left;
			position: relative;
			padding-right: 2.5em;
		}

		td:last-child {
			text-align: center;
			width: 145px;
		}
	}

	.accordion--light {
		.accord {
			background-color: white;
		}

		.accord-content {
		}

		.accord-header {
		}

		button {
			background: white;
			font-weight: 700;
			color: #444;
			padding: 1em 3em 1em 1em;
		}
	}
}

.infoTabs {
	.accordion--columns {
		@include mobilefirst($bp-med) {
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
		}

		.accord {
			@include mobilefirst($bp-med) {
				margin-top: 0;
				width: calc(50% - 20px);
				&:nth-of-type(odd) {
					margin-right: 20px;
				}
			}
		}
	}
}

// From Codepen

.iconsWrapper {
	width: 30px;
	height: 30px;
	// background: red;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);

	.minus,
	.plus {
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 32px;
		text-align: center;
		transition: 0.35s all ease-in-out;
	}

	.plus {
		opacity: 1;
		transform: rotate(0deg);
	}

	.minus {
		opacity: 0;
		transform: rotate(-90deg);
	}

	&--large {
		width: 36px;
		height: 36px;
		right: 18px;

		.plus,
		.minus {
			width: 36px;
			height: 36px;
		}
	}
}

button[aria-expanded="true"] > .iconsWrapper {
	.plus {
		opacity: 0;
		transform: rotate(90deg);
	}

	.minus {
		opacity: 1;
		// transition: opacity .1s;
		// transition: transform .7s;
		transform: rotate(0deg);
	}
}
