/******************************************************************
MODAL STYLING
******************************************************************/

.modal {
	visibility: hidden;
	opacity: 0;
	transition: .25s all ease-in-out;
	width: 0;
	height: 0;
	position: fixed;
	top: 0;
	left: 0;

	&__content {
		width: 90vw;
		max-width: 600px;
		height: auto;
		max-height: 90vh;
		background: white;
		overflow-y: scroll;
		position: relative;
		top: 50%;
		left: 50%;
		transition: .125s all ease-in-out;
		transition-delay: .125s;
		transform: translate(-50%,-50%) scale(0);
		opacity: 0;
		visibility: hidden;
		padding: 2rem;

		.js-modal__close {
			@include button();
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&.open {
		visibility: visible;
		opacity: 1;
    z-index: 9999;
    display: block;
    width: 100vw;
    height: 100vh;

		.modal__content {
			visibility: visible;
			opacity: 1;
			transform: translate(-50%,-50%) scale(1);
		}
	}

	h4 {	margin-bottom: .2em;}
	ul { margin-top: 0; }

}

.js-modal__close_overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: black;
	background: rgba(0,0,0,.8);
}


