.searchbox {
	&__wrapper {
		position: fixed;
		top: 0;
		background: rgba(15, 14, 14, 0.66);
		padding: 1em;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99999;
		transition: all 0.4s ease;
		transform: translateY(-120%);
		display: flex;
		justify-content: center;
		align-items: center;
		visibility: hidden;

		&.active {
			transform: translateY(0);
			visibility: visible;
		}

		form {
			background: #A81D32;
			max-width: 550px;
			color: white;
			padding: 2em 1em;
		}

		.elp_submit {
			text-align: right;
			padding-left: 5%;
			padding-right: 5%;
			max-width: 300px;
			margin-left: auto;

			.requestinfo input[type="submit"] {
				font-weight: 700;
			}
		}
	}

	&__heading {
		background: #a81d32;
		color: white;
		margin: 0;
		padding: 2em 1.25em 0;
		font-size: 2em;
	}

	&__innerwrapper {
		position: relative;
	}

	&__toggle {
		border-radius: 50%;
		background: white;
		-webkit-appearance: none !important;
		display: block;
		position: absolute;
		right: -25px;
		top: -25px;

		svg {
			padding: 5px;
			width: 40px;
			height: 40px;
			vertical-align: middle;
		}
	}
}

.searchbox {
	&-trigger {
		@media (max-width: 899px) {
			margin-left: auto;
			margin-right: 1em;
			width: 40px;
			z-index: 9;
			background: white;
			border: none;
			display: flex;
			padding: 0 0.5em;
			height: 40px;

			svg {
				width: 25px;
				height: 30px;

				path {
					fill: #510915 !important;
				}
			}
		}
		@media (min-width: 900px) {
			background-repeat: no-repeat;
			background-position: 100% 52%;
			background-size: 13px;
			background-image: url("#{$images}/searchbox-icon.svg");
			width: 80px;
		}
	}

	&__toggle {
		background-color: white;
		z-index: 999;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
		background-image: url("#{$images}/close-form-button.svg");
		display: flex;
		justify-content: center;
		align-items: center;
		top: 15px;
		right: -10px;
		width: 40px;
		height: 40px;
		border: none;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

		& svg {
			width: 25px;
			height: 25px;
		}
	}

	&__wrapper {
		.form__heading {
			padding-left: 1em;
			padding-top: 2em;
			text-transform: uppercase;
			position: relative;

			&:before {
				content: "";
				width: 3em;
				height: 7px;
				display: block;
				position: absolute;
    		top: 40px;
				background: #C9BF79;
			}
		}

		.search-form {
			padding: 1em 2em;

			.screen-reader-text {
				display: none;
			}
		}
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		overflow: auto;
		opacity: 1;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
		align-items: center;
		padding: 0;
		max-width: 100%;

		&.active {
			// overflow-y: auto;
		}
	}

	&__innerwrapper {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		padding: 2em 0;
		margin: 1.5em auto;
		width: 90%;
	}
}

input.search-submit {
	display: inline-block;
	position: relative;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	text-decoration: none;
	color: #fff !important;
	font-size: 1em;
	line-height: 34px;
	font-weight: normal;
	padding: 0.5em 1em;
	border: 0;
	cursor: pointer;
	-webkit-transition: background-color 0.14s ease-in-out;
	transition: background-color 0.14s ease-in-out;
	background: #C9BF79;
	text-transform: uppercase;
	border-bottom: 6px solid #9d913f;
	color: #11181F !important;
	width: 100%;
	max-width: 150px;
	margin-left: auto;
	display: block;
	background-repeat: no-repeat;
	background-position: 90% center;
	background-size: 20px;
	background-image: url("#{$images}/arrow.svg");
	text-align: left;
}

button.searchbox-trigger {
	@media (min-width: 900px) {
		display: none;
	}
}
