/*********************
SIDEBARS & ASIDES
*********************/

.no-widgets {
	background-color: white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid gray;
	border-radius: 2px;
	margin-bottom: 1.5em;
}


/**** 768 UP ****/

@include mobilefirst($bp-med) {

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		&:first-of-type {
			margin-top: 0;
		}

			li {
				margin-bottom: 0.75em;

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
	}

}
