/*******************************
SOCIAL SHARING BUTTONS
*******************************/

.social-sharing {
    margin-bottom: 1em;
    background: darken(white, 5%);
    padding: .8em;
    text-align: center;

		@include mobilefirst($bp-sm) {
			float: right;
			margin-left: 1em;
		}

		@include mobilefirst($bp-med) {
			margin-bottom: 0;
		}
}

.social-sharing__label {
    font-size: em(13);
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: .5em;

	@include mobilefirst($bp-sm) {
		display: inline;
		margin-bottom: 0;
	}
}

.social-link {
  color: #fff;
  background-color: #55acee;
  padding: .4em .6em;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: em(12);
  font-weight: bold;
  margin-left: em(10);
  transition: .2s all ease-in-out;

  &:focus { color: white; }
}
.social-link__icon,
.social-link__label {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.social-link__icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: .2em;
}
.social-link__icon path { fill: #fff; }
.social-link__label {
  font-size: .9em;
  font-weight: 500;
}
.social-link:hover {
    background-color:  darken(#55acee, 10%);
    color: white;
}

.social-link_facebook { background: #3b5998; }
.social-link_facebook:hover { background: darken(#3b5998, 10%); }
.social-link_linkedin { background: #007bb6; }
.social-link_linkedin:hover { background: darken(#007bb6, 10%); }
