/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;
  padding: 0;
  list-style: none;

	@include mobilefirst($bp-med) {
		border: 0;
		ul { margin-top: 0; }
	}


	li {
        list-style: none;

				@include mobilefirst($bp-med) {
					float: left;
					position: relative;

					&:hover > ul.sub-menu {
						top: auto;
						visibility: visible;
					}
				}

		a {
			display: block;
			text-decoration: none;
			padding: 0.75em;

			@include mobilefirst($bp-med) {
				border-bottom: 0;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}

		ul.sub-menu,
		ul.children {
			padding: 0;
			display: none;

			@include mobilefirst($bp-med) {
				background: $link-color;
				margin-top: 0;
				position: absolute;
				visibility: hidden;
				z-index: 8999;
			}


			li {

				a {
					padding-left: 30px;

					@include mobilefirst($bp-med) {
						color: white;
						padding-left: 10px;
						border-right: 0;
						display: block;
						width: 180px;
					}
				}

				@include mobilefirst($bp-med) {
					ul {
						top: 0;
						left: 100%;
					}
				}
			}

		}

        &:hover {
            .sub-menu { display: block; }
        }

	} /* end .menu li */

} /* end .nav */



/**** 768 UP ****/

@include mobilefirst($bp-med) {
	.js__menu-trigger {
		display: none;
	}
}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $link-color;

      &:hover, &:focus {
      	background-color: $link-color;
      	color: white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


