/*********************
HEADER STYLES
*********************/

.header {

	&__logo {
		margin: 0.75em 0;

		@include mobilefirst($bp-med) {
			float: left;
		}
	}

	&__nav {
    // visibility: hidden;
    // height: 0;

		@include mobilefirst($bp-med) {
			.nav {
				float: right;
				visibility: visible;
				height: auto;
			}
		}

    &.visible {
        visibility: visible;
        height: auto;
    }
	}

}

.header {
	.main-nav {
		display: flex;
		flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

		.logo {

			position: relative;
			z-index: 9;

			img {
				max-width: 100px;
			}
		}
		&__trigger {
			z-index: 9;
		}
		nav {
			position: fixed;
			background: #d2d2d2;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			transition: all .4s ease;
			transform: translateY(-100%);
			padding-top: 160px;

			&.visible {
				transform: translateY(0%);
			}

			ul {
				padding: 0 20px;
			}
			a {
				font-weight: 600;
			}
		}
	}
}
