/*********************
IMPORTING
*********************/

@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/grid";
@import "base/base";
@import "modules/accordion";
@import "modules/buttons";
@import "modules/clearfix";
@import "modules/forms";
@import "modules/links";
@import "modules/media";
@import "modules/modal";

*:focus { outline: 6px dotted pink; }

/********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

section {
	padding: 1em 0;

	@include mobilefirst($bp-med) {
		padding: 2em 0;
	}
}


@include mobilefirst($bp-med) {
	.left-col { @include span(6 of 12); }
	.right-col { @include span(6 of 12 last); }
}

/********************
MOBILE NAV
*********************/

.mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	z-index: 999;

	@include mobilefirst($bp-med) { display: none; }
}

a.mobile-nav__link {
	flex: 1;
	padding: 1em 0;
	text-align: center;
	background-color: $red_dark;
	color: white;
	text-decoration: none;

	img { vertical-align: middle; }
}

.mobile-nav__link:last-child {
	background: $red;
}

/********************
HEADER STYLES
*********************/

.header {
	background: $red_dark;
	position: relative;
	margin-top: em(58);

	@include mobilefirst($bp-med) {
		margin-top: 0;
	}
}

.tel-link {
	display: none;

	&:hover,
	&:visited,
	&:active,
	&:focus { color: white !important; }


	@include mobilefirst($bp-med) {
		display: block;
		position: absolute;
    right: 1rem;
    top: 1rem;
    width: 33.3333333333%;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
		z-index: 100;

		span {
			display: none;

			@include mobilefirst($bp-xl) {
				display: inline;
			}
		}

		img {
			vertical-align: middle;
			width: em(35);
			height: em(35);
		}
	}
}

.banner {
	background-size: cover;
	background-position: 30% top;
	position: relative;
	height: 280px;

	@include mobilefirst($bp-sm) { 	height: 380px; }
	@include mobilefirst($bp-med) { 	height: 500px; }
	@include mobilefirst($bp-xl) { 	height: 580px; }

	.wrap { height: 100%; }

	&:before {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 70%;
		content: "";
		display: block;
		background: rgba(0,0,0,.8);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 50%, rgba(15,6,5,0.64) 100%);
	}

	h2 {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		font-size: em(25);
		position: absolute;
		bottom: 1rem;
		left: 5%;
		width: 90%;

		@include mobilefirst($bp-sm) { font-size: em(33); }

		@include mobilefirst($bp-med) {
			@include span(8);
			left: 0;
			text-align: left;
			font-size: em(39);
			padding-right: 8%;
		}

		@include mobilefirst($bp-xl) { font-size: em(46); }

	}

}

.header__logo {
	max-width: 90px;
	position: relative;
	top: 1rem;
	left: 1rem;
	margin: 0;

	@include mobilefirst($bp-med) {
		max-width: 130px; // Make logo bigger
		top: 2rem;
		left: 1.3888888889%;
	}
}

/**** Form Styling in the banner ****/

#step-form {

	@include mobilefirst($bp-med) {
		position: absolute; // move form on bigger screen sizes
		right: 2rem;
		top: 4rem;
		@include span(4);
		padding-left: 0;
		padding-right: 0;
	}

	@include mobilefirst($bp-xl) {
		top: 5rem;
	}
}

.requestinfo { background: $red; }

/********************
ACCREDITATION
*********************/

.accreditations {
	display: flex;
	align-items: center;

	div {
		float: left;
		padding: .5em;
	}
}

/********************
BENEFITS
*********************/

.benefits {

	h2 { margin-bottom: 1em; }

	h3 {
		margin-top: 0;
		margin-bottom: .25em;
		color: white;
	}

	ul {
		padding-left: 0;

		@include mobilefirst($bp-med) {
			display: flex;
			flex-wrap: wrap;
			padding-top: 1em;
		}

		@include mobilefirst($bp-xl) {
			padding-top: 4em;
			flex-wrap: nowrap;
		}
	}

	li {
		list-style: none;
		margin-bottom: 2rem;

		@include mobilefirst($bp-med) {
			width: 50%;
			float: left;
			flex: 1 1 50%;
			min-width: 50%;
			padding-left: em(24);
			padding-right: 3rem;
			position: relative;
			z-index: 1;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: em(-12);
				width: em(48);
				height: em(48);
				background: darken($red, 10%);
				display: block;
				z-index: -1;
			}
		}

		@include mobilefirst($bp-xl) {
			width: 25%;
			min-width: 25%;
			padding-left: em(40);
			flex: 1 1 25%;

			&:before {
				width: em(80);
				height: em(80);
				top: em(-40);
			}
		}


		strong {
			text-transform: uppercase;
			display: block;
			margin-bottom: .5em;
		}
	}
}

/********************
ONLINE DEGREES
*********************/

.online-degrees a {
	display: block;
	background: $red_dark;
	padding: 1em .5em;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: .5em;
	font-weight: bold;
	position: relative;

	&:hover { color: white; }

	&:after {
		content: url(/wp-content/themes/uwa/library/images/icon-plus.svg);
		position: absolute;
		right: 1em;
		height: 28px;
		width: 28px;
    top: 50%;
    transform: translateY(-50%);
	}
}

/********************
ABOUT US
*********************/

.about-us {
	padding-top: 0;

	@include mobilefirst($bp-med) {
		overflow: hidden;
		position: relative;
		padding-top: 1em;

		&__content {
			width: 60%;
			float: right;
		}
	}

}

.about-us__bg {

	@include mobilefirst($bp-med) {
		position: absolute;
		top: 0;
		left: 0;
		width: 38%;
		height: 100%;

		.about-us_bg-img {
			max-width: none;
			width: auto;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%; /* This bit centers the image. */
		}
	}
}

/********************
FOOTER STYLES
*********************/

.footer {
	background: $red_dark;
	color: white;
	padding: 1em 0;
	text-align: center;

	@include mobilefirst($bp-med) {
		padding: 2em 0;
	}

	a,
	a:hover,
	a:visited { color: $gold; }
}

.footer__copyright { font-size: .8em; }


/********************
IE STYLES
*********************/

.lt-ie10 {
	.banner:before { display: none; } // Remove Gradient
	.online-degrees a:after { top: 28%; } // Vertically align icon
}

.lt-ie9 {
	.header { margin-top: 0; }
	.mobile-nav { display: none; }
}
