/******************************************************************
Main Stylesheet
******************************************************************/

/*********************
IMPORTING BASE
*********************/

@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/grid";
@import "base/base";

/*********************
IMPORTING MODULES
*********************/

@import "modules/accordion";
@import "modules/buttons";
@import "modules/clearfix";
@import "modules/forms";
@import "modules/links";
@import "modules/media";
@import "modules/progress";
@import "modules/sidebar";
@import "modules/social";
@import "modules/tables";

/*********************
IMPORTING PARTIALS
*********************/

@import "partials/header";
@import "partials/nav";
@import "partials/footer";

/*********************
IMPORTING PAGES
*********************/

@import "pages/layout";
@import "pages/home";
@import "pages/page";
@import "pages/post";
@import "pages/thank-you";

/*********************
PRINT
*********************/
@media print { @import "partials/print"; }

html > * {
  &:focus {
    background-color: gray;
  }
}

/* ACCESSIBILITY */
.sr-only
{position:absolute;
display: block;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}

input.btn {
  max-width: 87%;
  display: block;
}
.next.btn {
  margin: 0 30px;
}

.block2 .next {

  margin: 0 30px; 
}
