/******************************************************************
Main Stylesheet
******************************************************************/
@import "~susy/sass/susy";
/*********************
IMPORTING BASE
// *********************/

@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/grid";
@import "base/base";
// // /*********************
// // IMPORTING MODULES
// // *********************/
// //
@import "modules/accordion";
@import "modules/buttons";
@import "modules/clearfix";
@import "modules/cta-box";
@import "modules/card-list";
@import "modules/forms";
@import "modules/links";
@import "modules/media";
@import "modules/progress";
@import "modules/sidebar";
@import "modules/social";
@import "modules/tables";
@import "modules/carousel";
@import "modules/overlayForm";
@import "modules/form";
@import "modules/megamenu";
@import "modules/priorityNav";
@import "modules/infoAccordions";
@import "modules/searchbox"; // // /*********************
// // IMPORTING PARTIALS
// // *********************/
// //
@import "partials/nav";
@import "partials/header";
@import "partials/footer"; // //
// // /*********************
// // IMPORTING PAGES
// // *********************/
// //
@import "pages/layout";
@import "pages/home";
@import "pages/page";
@import "pages/faq";
@import "pages/single-degrees";
@import "pages/post";
@import "pages/thank-you";
@import "pages/verticals";
@import "pages/degreesArchive";
@import "pages/blog";
@import "pages/taxDegreeLevel";
@import "pages/scholarships-partnerships";
@import "pages/template-scholarship-partnership";
@import "pages/accreditation";
@import "pages/archives";
@import "pages/resources";
@import "pages/404";
@import "pages/search";
@import "misc";
/*********************
PRINT
*********************/
@media print {
	@import "partials/print";
}

ul#menu-secondary-left {
	left: 0;
}

.search-results {
	article {
		border-bottom: 1px solid lightgray;
		margin: 1em 0;
		padding: 1em 0;

		&:last-of-type {
			border-bottom: 0;
		}

		header {
			a {
				font-family: "Open Sans", Helvetica, Arial, sans-serif;
				font-weight: 100;
				padding: 0 0.5em;
				text-align: left;
				// margin-top: 1em;
				// margin-bottom: 1em;
				font-size: 0.8em;
				display: block;
			}
		}
	}
}

.search .intro {
	padding-bottom: 0;
}


@import "vue-app";
