.formWrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	// background: $red;
  padding: 1em 0;
	@include susy-breakpoint(768px) {
		width: 80%;
	}

	.formHeader {
		padding: 0 5%;
		margin-bottom: 0;
		color: white;
	}

	.requestinfo {
		// background: $red;
	}

	label {
		// color: white;
    color: black;
	}
  input, select {
    background-color: #eaeaea;
  }
}
