/*******************************
SOCIAL SHARING BUTTONS
*******************************/
.social-sharing {
	margin-bottom: 1em;
	background: darken(white, 5%);
	padding: 0.8em;
	text-align: center;
	// box-shadow: 2px 2px 0 -1px rgba(0, 0, 0, 0.24), 0 6px 6px rgba(87, 87, 87, 0.25);
	box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.24), 0 1px 0px 2px rgba(87, 87, 87, 0.25);
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	@include mobilefirst($bp-med) {
		float: right;
		margin: 1em 0 1em 1em;
	}
}

.social-sharing__label {
	font-size: em(13);
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	margin-bottom: 0.5em;
	@include mobilefirst($bp-sm) {
		display: inline;
		margin-bottom: 0;
	}
}

.social-link {
	color: #fff;
	background-color: #55acee;
	padding: 0.4em 0.6em;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: em(12);
	font-weight: bold;
	margin-left: em(10);
	transition: 0.2s all ease-in-out;

	&:focus {
		color: white;
	}
}

.social-link__icon,
.social-link__label {
	display: inline-block;
	vertical-align: middle;
	color: white;
}

.social-link__icon {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.2em;
}

.social-link__icon path {
	fill: #fff;
}

.social-link__label {
	font-size: 0.9em;
	font-weight: 500;
}

.social-link:hover {
	background-color: darken(#55acee, 10%);
	color: white;
}

.social-link_facebook {
	background: #3b5998;
}

.social-link_facebook:hover {
	background: darken(#3b5998, 10%);
}

.social-link_linkedin {
	background: #007bb6;
}

.social-link_linkedin:hover {
	background: darken(#007bb6, 10%);
}
