.page-id-513 {
  .intro {
    max-width: 1200px;
  }
}
.faqWrapper {
  text-align: left;
  p {
    padding: 0;
  }
  .questions, .answers {
    width: 48%;
    display: inline-block;

  }

  .questions {
    border-right: 2px solid gray;
    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-top: .5em;
        margin-bottom: .5em;
      }
    }
    a {
      display: block;
      padding: .25em;

      &.active {
        font-weight: 700;
      }
    }
  }
  .answers {
    padding-left: .75em;
    > * {
      display: none;
    }

    & .active {
      display: block !important;
    }
      // &.active {
      //   display: block;
      // }
  }
}
