.single-degrees {

	.content {
		padding-bottom: 0;
	}

	.section-title {
		margin-top: 2em;
	}
	.program {
		&__badge {
			display: inline-block;
			background: #CCBC7E;
			padding: 0.25em 0.5em;
			font-weight: 600;
			font-size: 0.875em;
			margin-bottom: 0.5em;
		}

		&__title {
			margin-bottom: 0.15em;
			margin-top: 0;
			@include susy-breakpoint(0 $bp-med) {
				font-size: 1.75em;
			}
		}

		&__subtitle {
			font-style: italic;
			font-size: 1.25em;
			font-weight: 300;
			margin-bottom: 0.75em;
			@include susy-breakpoint($bp-med) {
				font-size: 1.5em;
			}
		}

		&__flexWrapper {
			margin-top: -10em;
			position: relative;
			z-index: 99;
			@include susy-breakpoint($bp-med) {
				display: flex;
				justify-content: space-between;
			}
		}

		&__side {
			background: #af1332;
			align-self: flex-start;
			display: none;
			@include susy-breakpoint($bp-med) {
				display: block;
				flex-basis: 32%;
				order: 1;
			}
		}

		&__main {
			background: white;
			margin: 0 1em;
			padding: 1em 1.5em 3em;
			@include susy-breakpoint($bp-med) {
				flex-basis: 70%;
				order: 2;
			}
			@include susy-breakpoint(0 $bp-med) {
				margin: 0;
				padding: 0;
			}

			.mobileOnly {
				display: block;
				margin-top: 2em;
				margin-bottom: 3em;
				@include susy-breakpoint($bp-med) {
					display: none;
				}
				@include susy-breakpoint(0 $bp-med) {
					.program__side {
						width: 112%;
				    margin-left: -6%;
						display: block;
					}
				}
			}
		}

		&__top {
			padding: 1em;
		}
		&__details {
			background: #af1332;
			padding: 1em;
			color: white;
			position: relative;
			text-align: center;

			&-line {
				border-top: 2px solid #bd6758;
				content: "";
				margin: 0 auto;
				position: absolute;
				top: 27px;
				left: 0;
				right: 0;
				bottom: 0;
				width: 92%;
			}

			&-heading {
				color: white;
				text-align: center;
				// font-size: 1em;
				// font-weight: 400;
				margin: 0 0 1em;
				text-transform: uppercase;
				font-size: 0.9em;
				position: relative;
				background: #af1332;
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				padding: 0 7px;
				// &:before {
				// 	border-top: 2px solid #bd6758;
				// 	content: "";
				// 	margin: 0 auto;
				// 	position: absolute;
				// 	top: 50%;
				// 	left: 0;
				// 	right: 0;
				// 	bottom: 0;
				// 	width: 95%;
				// 	z-index: -1;
				// 	@include susy-breakpoint($bp-med) {
				// 		width: 120%;
				// 		left: -18px;
				// 	}
				// }
			}

			p {
				margin-bottom: 0.5em;
			}

			&-row {
				display: flex;
				align-items: baseline;
			}

			&-title {
				font-style: italic;
				font-weight: 600;
			}

			&-dotted {
				border-bottom: 3px dotted #bd6758;
				width: 40px;
				margin-left: 3px;
				margin-right: 3px;
				margin-top: -3px;
				position: relative;
				flex: 1 1 auto;
			}

			&-info {
				font-weight: 700;
				font-size: 1.25em;
			}
		}
	}

	.who {}

	.course-details {}

	.infoTabs {
		@include susy-breakpoint($bp-med) {
			display: flex;
		}

		ul {
			padding-left: 30px;

		}
		&__buttons {
			position: relative;
			z-index: 1;
			margin-top: 3em;
			display: flex;
			flex-flow: row wrap;
			@include susy-breakpoint($bp-med) {
				flex-basis: 28%;
				display: block;
			}

			button {
				background: rgba(200,191,121,0.2);
				color: $red;
				border: none;
				padding: 1em .75em;
					// padding: 1em .5em;
				width: 400px;
				display: block;
				margin: 0.5em;
				text-transform: uppercase;
				width: 45%;
				font-size: 0.8em;
				@include susy-breakpoint($bp-med) {
					width: 100%;
					// font-size: 1em;
					padding: 1em .5em;
				}

				&.active {
					background: $red;
					color: white;
					font-weight: 700;
				}
			}
		}

		&__contentWrapper {
			background: #f5f1e5;
			position: relative;
			background: $tan;
			position: relative;
			padding: 1em 1.5em 4em;
			@include susy-breakpoint($bp-med) {
				flex-basis: 66%;
				margin: 0 1em;

				&:before {
					content: '';
					position: absolute;
					left: -120px;
					width: 120px;
					height: 100%;
					top: 0;
					background: $tan;
				}
			}
		}

		.infoTabs__content {
			display: none;

			&.active {
				display: block;
				// background: blue;
			}
		}
	}

	.btn-info {
		@include button($gold);
		color: $black !important;
		font-weight: 600;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	.accreditations {
		// margin-bottom: 2.5em;
		img {
			width: auto;
			height: 80px;
			margin-right: 0.5em;
		}
		@include susy-breakpoint(0 $bp-med) {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			img {
				margin: 0.5em;
			}
		}
	}

	.section-heading {
		@include decorative($gold);
		padding-top: 1em;
		margin-top: 1em;

		@include susy-breakpoint(0 $bp-med) {
			font-size: 1.75em;
		}
		font-size: 40px;
	}

	.waiting {
		position: relative;
		z-index: 9999;
		padding: 3em;
		background: white !important;
		@include susy-breakpoint(0 $bp-med) {
			padding: 2em 0;
		}

		&:before {
			content: '';
			background-image: url("/wp-content/themes/uwa/library/images/triangles.svg");
			background-repeat: no-repeat;
			background-position: top center;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-size: 100vw;
			transform: rotate(180deg);
			@include susy-breakpoint($bp-med) {
				background-size: 50%;
			}
		}

		&__heading {
			@include susy-breakpoint(0 $bp-med) {
				font-size: 2.25em;
			}
			font-size: 50px;
			text-align: center;
		}
	}

	.waitingCards {
		@extend %flexCards;
		position: relative;

		.card {
			flex-basis: 100%;
			@extend %flexCard;
			display: flex;
			text-align: center;
			flex-flow: row wrap;
			padding: 1em 2em 2em;
			margin: 0.75em 0 !important;
			// max-width: 380px;
			@include susy-breakpoint($bp-med) {
				flex: 1 1 25%;
				margin: 1em !important;
			}

			&__heading {
				color: white;
				flex-basis: 100%;
				position: relative;
				padding-bottom: 1em;
				@include decorative($red);

				&:before {
					transform: translateX(-50%);
					top: 100%;
					left: 50%;
					background: #500A16;
				}
			}

			&__link {
				@extend %flexCardLink;
				color: #2B2B2B !important;
				width: 100%;
				max-width: 250px;
			}
		}
	}
	// RELATED DEGREES
	.relatedDegrees {
		background: #11181F;
		color: white;
		padding: 2em 0 3em;
		display: none;
		@include susy-breakpoint($bp-med) {
			display: block;
		}

		&__infoWrapper {
			display: flex;
			justify-content: space-between;
			align-content: flex-end;
			align-items: baseline;
		}

		&__heading {
			color: white;
			@include decorative($gold);
			margin-bottom: 1.5em;
		}

		.btn__hollow {
			padding: 1em 2em;
			border: 2px solid $gold;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;
			color: $gold;
		}

		&__flexWrapper {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			.cardLinkWrapper.item {
				margin: 1em;
				flex: 1 1 29%;
				flex: 0 0 300px;
				margin: 1em 10px;
			}
		}

		.cardLink {
			display: inline-block;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 70%;
				display: block;
				background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.78) 50%, rgba(15, 6, 5, 0.64) 100%);
			}

			img {
				max-height: 400px;
			}

			&__text {
				position: absolute;
				bottom: 0;
				padding: 1em 1em 0;
			}

			&__heading {
				border-bottom: 5px solid white;
				padding-bottom: 0.5em;
				color: white;
			}

			&__borderSeperator {
				border-bottom: 4px solid white;
				position: absolute;
				left: 1em;
				width: calc(100% - 2em);
				right: -1em;
				bottom: 55px;
			}

			&__cta {
				text-align: right;
				color: #C8BF79;
				font-size: 1.2em;
				font-weight: 600;
			}
		}

		.flexTestWrapper {
			position: absolute;
			bottom: 0;
			width: 200%;
			display: flex;
			top: 0;
			transition: all 0.3s ease;
			text-align: left;
		}

		.cardLink {
			overflow: hidden;

			&:focus,
			&:hover {
				.flexTestWrapper {
					transform: translateX(-50%);
				}

				.cardLink__cta {
					// background: #C8BF79;
					color: black !important;
					padding: 0 0.25em;
					font-size: 1em !important;

					svg {
						fill: black;
					}
				}
			}

			&__info {
				flex-basis: 50%;
				color: white;
				padding: 1em;
				background: rgba(46, 46, 46, 0.6);
			}

			&__text {
				flex-basis: 50%;
				position: relative;
				padding: 0;
				align-self: flex-end;
				padding-bottom: 3em;
			}

			&__heading {
				border: none;
				padding: 0 0 0 0.5em;
				margin-right: 0;
			}

			&__cta {
				position: absolute;
				bottom: 0;
				right: 1em;
				padding: 0 0.25em;
				font-size: 1em !important;
				transition: all 0.3s ease;

				svg {
					width: 15px;
					background: #C8BF79;
					vertical-align: middle;
					height: 15px;
					padding: 2px;
					fill: white;
					color: #C8BF79;
				}

				&-background {
					position: absolute;
					right: 1em;
					bottom: 24px;
					background: #C8BF79;
					width: 140px;
					height: 1.5em;
				}
			}
		}
	}
}
