.tax-degree_vertical {
	.content {
		// overflow-x: hidden;
	}
	.owl-carousel {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		@include susy-breakpoint($bp-xl) {
			width: 100%;
		}
	}

	.intro {
		max-width: 800px;
		margin: -3.5em 1em 1em;
		position: relative;
		background: white;
		margin-left: auto;
		margin-right: auto;
		z-index: 9;
		width: 90%;

		&__breadcrumbs {
			background-color: #A81D32;
			color: white;
			padding: 1em.5em;
			text-align: center;
			font-size: 0.8em;
			font-weight: 600;

			a {
				color: white;
			}
		}

		&__headline {
			padding: 0 1em;
		}

		&__text {
			padding: 0.5em 2em;
		}

		&__link {
			background-color: #11181F;
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			display: block;
			text-align: center;
			padding: 0.5em;
			text-decoration: none;
			height: 44px;
			&:focus,
			&:hover,
			&:visited:focus,
			&:visited:hover {
				color: white;
				text-decoration: underline;
			}

			svg {
				width: 20px;
				background: #C8BF79;
				height: 20px;
				fill: white;
				color: #C8BF79;
				margin-left: 10px;
				vertical-align: middle;
				margin-bottom: 3px;
				padding: 3px;
				width: 25px;
				height: 25px;
				padding: 5px;
			}
		}
	}

	.mainDegrees {
		background: $tan;
		// padding: 5em 0 10em;
		margin-top: -5em;
		overflow: hidden;

		.wrap {
			max-width: 1100px;
			background: #f5f1e5;
			padding: 5em 0 3em;
			position: relative;
		}

		&__headline {
			text-align: center;
			text-align: center;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
		}

		&__text {
			text-align: center;
			text-align: center;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.cardLink {
		display: inline-block;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			// background: linear-gradient(to bottom, rgba(40, 40, 40, 0.86) 0, rgba(0, 0, 0, 0.78) 50%, rgba(15, 6, 5, 0.64) 100%);
			// background: linear-gradient(to bottom, rgba(40, 40, 40, 0.6) 0, rgba(0, 0, 0, 0.4) 50%, rgba(15, 6, 5, 0.68) 100%);
			// background: linear-gradient(to bottom, rgba(24, 24, 24, 0.24) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.94) 100%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.94) 100%);
		}

		img {
			max-height: 400px;
		}

		&__text {
			position: absolute;
			bottom: 0;
			padding: 1em 1em 0;
		}

		&__heading {
			border-bottom: 5px solid white;
			padding-bottom: 0.5em;
			color: white;
			text-shadow: 0 2px 14px #000000;
			line-height: 1.2;
			margin-top: .7em;
			padding-right: .5em !important;
		}

		&__cta {
			text-align: right;
			color: #C8BF79;
			font-size: 1.2em;
			font-weight: 600;
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left: 10px;
		}
	}

	.flexTestWrapper {
		position: absolute;
		bottom: 0;
		width: 200%;
		display: flex;
		top: 0;
		transition: all 0.3s ease;
		text-align: left;
	}

	.cardLinkWrapper {
		text-align: center;
	}

	.cardLink {
		overflow: hidden;
		height: 280px;
		max-width: 400px;

		img {
			object-fit: cover;
			object-position: top;
			height: 100%;
		}

		&:focus,
		&:hover {
			.flexTestWrapper {
				transform: translateX(-50%);
			}

			.cardLink__cta {
				// background: #C8BF79;
				color: black !important;
				// padding: 0 0.25em;
				font-size: 1em !important;
				// padding-top: 4px;
				// padding-bottom: 0px;
				padding-left: 10px;

				svg {
					fill: black;
				}
			}
		}

		&__info {
			flex-basis: 50%;
			color: white;
			padding: 1em;
			background: rgba(46, 46, 46, 0.6);
			font-size: 1.15em;
			line-height: 1.6;
		}

		&__text {
			flex-basis: 50%;
			position: relative;
			padding: 0;
			align-self: flex-start;
			// padding-bottom: 3em;
		}

		&__heading {
			border: none;
			padding: 0 0 0 0.5em;
			margin-right: 0;
		}

		&__cta {
			position: absolute;
			bottom: 0;
			right: 1em;
			// padding: 0 0.25em;
			font-size: 1em !important;
			transition: all 0.3s ease;
			font-weight: 700;
			font-size: 1.1em !important;

			svg {
				// width: 15px;
				// background: #C8BF79;
				// height: 15px;
				vertical-align: middle;
				padding: 2px;
				// fill: white;
				fill: #C8BF79;
				color: #C8BF79;
				width: 25px;
				height: 25px;
				padding: 5px;
			}

			&-background {
				position: absolute;
				right: 1em;
				bottom: 28px;
				background: #C8BF79;
				width: 150px;
				// height: 1.5em;
				height: 34px;
			}
		}
	}

	.mastersDegrees {
		text-align: center;
		position: relative;
		padding-bottom: 2em;

		.narrow {
			max-width: 1000px;
			background: white;
			margin-left: auto;
			margin-right: auto;
			margin-top: -5em;
			padding: 0.5em 3em;
		}
	}

	.degreeType {
		padding: 3em 0 5em;
	}

	.coloredBackground {
		background: #f5f1e5;
	}

	.single {
		.cardLink_cta__wrapper {
			display: none;
		}
		@include susy-breakpoint(800px) {
			.cardLink {
				overflow: visible;
				left: -50%;

				&__cta {
					display: none;
				}
				&__cta-background {
					// display: none;
				}

				&:focus,
				&:hover {
					.flexTestWrapper {
						transform: none !important;
					}

					.cardLink_cta__wrapper {
						.cardLink__cta {
							display: block;
							&-background {

								transform: translateX(0);
								right: 0;
							}
						}
					}
				}

				&__info {
					background: #0F181F;
				}

				&__cta__wrapper {
					display: block;
					overflow: hidden;
					position: absolute;
					right: 20px;
					bottom: 0;
					height: 100%;
					right: 0;
					width: 100%;

					.cardLink_cta {
						position: relative;
						left: 0;
						padding-top: 4px;
						padding-bottom: 0;
						padding-left: 10px;

						&-background {
							top: 0;
							right: 0;
							height: inherit;
							width: 100%;
							transition: all 0.15s ease;
							transform: translateX(102%);
							display: block;
						}
					}
				}
			}
		}
	}

	.single {
		.cardLink__cta {
			display: none;
		}
		.cardLink__cta-background {
			display: none !important;
		}
		.cardLink__cta__wrapper .cardLink__cta-background {
			display: block !important;
			right: 20px;
			transition: all 0.15s ease;
			transform: translateX(115%);
			display: block;
			 width: 160px;
		}

		.cardLink__cta__wrapper .cardLink__cta {
			display: block;
		}

		.cardLink:hover, .cardLink:focus {
			.cardLink__cta__wrapper .cardLink__cta-background {
				transform: translateX(0);
			}
		}
	}

}
